* {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* CSS styling for the navigation bar */
.navbar-section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.logo:hover {
    cursor: pointer;
}

.logo img {
    max-width: 100%;
    /* Ensure the image doesn't exceed the container's width */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Add some space between the logo image and text */

}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 38px;
    position: relative;
    transition: transform 0.3s;
}

.menu li::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2E2E45;
    transition: width 0.3s;
}

.menu li:hover::before,
.menu li.active::before {
    width: 100%;
}

.menu li:hover {
    transform: scale(1.1);
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

.signup-btn {
    color: #2E2E45;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    border: 4px solid #2E2E45;
    background: #28A745;
    font-weight: 500;
}

.login-btn {

    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #fff;

    color: rgba(119, 119, 119, 0.47);
    font-size: 16px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    margin-right: 30px;

}

/* End of navigation bar styling */

/* About Hero Section Styling */

.about-hero-section {
    position: relative;
    width: 100%;
    height: 120vh;
}

.hero-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-hero-description {
    position: absolute;
    top: 40%;
    left: 10%;
    /* Adjust the left position as per your requirements */
    transform: translateY(-50%);
    color: #fff;
}

.about-hero-description h2 {
    font-size: 70px;
    margin: 0;
    font-weight: 1000;
}

.about-hero-description h2 span {
    display: block;
    margin-top: -15px;
    font-weight: 500;
    color: #E34C45;
}

/* End of About Hero Section Styling */

/* Start of About Dscription One */

.about-description-one {
    padding: 80px 140px;
    background-color: aliceblue;
}

.content-ad1 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.content-ad1 h2 {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: -10px;
    color: #2E2E45;
}

.content-ad1 p {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 80px;
    color: #666;
    font-weight: 500;
}

.doing-good-bold {
    font-weight: normal;
}

/* End of About Description One */

/* How it works Styling */
.how-it-works {
    padding: 80px 140px;
    height: 40vh;

}

.how-it-works h2 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2E2E45;
    margin-top: -10px;
}

.steps-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    margin: auto;
}

.steps-list li {
    text-align: center;
    flex-basis: 20%;
}

.step-icon {
    font-size: 40px;
    color: #E34C45;
    margin-bottom: 10px;
}

.step-description h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2E2E45;
}

.step-description p {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    color: #2E2E45;
}

.how-it-works p {
    font-size: 20px;
    color: #666;
    font-weight: normal;
}

/* End of How it works Styling */


/* Start of Footer  */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2E45;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
    flex: 1;
}

.footer-heading {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links li {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    font-size: 18px;
    transition: transform 0.3s;
}

.footer-links li::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E34C45;
    transition: width 0.3s;
}

.footer-links li:hover::after {
    width: 100%;
}

.footer-links li:hover {
    transform: scale(1.1);
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #E34C45;
    font-size: 30px;
}

.footer h3 {
    font-size: 20px;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #ccc;
    font-weight: 500;
}

/* End of Footer */
