.blog {
	margin-top: 120px;
}

.blog-slideshow {
	max-width: 1000px;
	position: relative;
	margin: auto;
	margin: 60px auto;
}

.blog-slide {
	position: relative;
	display: none;
	text-align: center;
	animation-name: fade;
	animation-duration: 1.5s;
}

.blog-slide img {
	max-height: 500px;
}

.blog-slide h1 {
	position: absolute;
	bottom: 0;
	background: #000;
	opacity: .8;
	color: #fff;
	margin: 0;
    padding: 10px;
    width: 100%;
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #E34C45;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(255,255,255,0.8);
}

.blog-cards {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
	gap: 20px;
}

.blog-card {
	max-width: 200px;
	
    padding: 60px;
    border-radius: 50px;
    background-color: aliceblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-carding {
	padding: 10px;
}

.blog-title {
	font-weight: 600;
}

.blog-by {
	color: #999;
}

.blog-snippet {
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-more {
	font-weight: 600;
    background: #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
	cursor: pointer;
}

.post {
	margin-top: 120px;
}

.post-area {
	max-width: 1000px;
	display: block;
	margin: auto;
}

.post-img {
	max-height: 400px;
	display: block;
	margin: 0 auto;
}
.author {
	margin-top: 100px;
}

.author-area {
	display: flex;
}

.author-area img {
	border-radius: 50%;
    max-height: 100px;
	margin: 20px;
}

.related-cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 50px;
	margin: 100px 0;
}

.related-card {
	width: 300px;
}

.related-card img {
	max-width: 300px;
	gap: 50px;
}

.blog-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}