.browse {
	margin-top: 120px;
}

.browse-area{
	text-align: center;
}

.browse-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.browse-card {
	max-width: 200px;
	
    padding: 60px;
    border-radius: 50px;
    background-color: aliceblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.browse-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.fas, .far {
	color: #E34C45;
}

.browse-header {
	display: flex;
    gap: 10px;
}

.browse-header img {
	border: 2px solid #000;
    border-radius: 50%;
    max-height: 50px;
}

.browse-title {
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.browse-header p {
	margin: 5px 0 5px;
	color: #E34C45;
}

