* {
    font-family: 'Quicksand', sans-serif;
  }
  
body {
    margin: 0;
    padding: 0;
}

/* CSS styling for the navigation bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar li:hover {
    background-color: #f0f0f0;
    color: #333;
    transform: rotateY(360deg);
  }
  

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
  }
  
  .logo img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add some space between the logo image and text */
  }

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
    transition: transform 0.1s;
}


.menu li a {
    text-decoration: none;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.button {
    margin-left: 10px;
}

.signup-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    border: 4px solid #000;
    background: #28A745;
}

.login-btn {

    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #fff;

    color: rgba(119, 119, 119, 0.47);
    font-size: 16px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

/* End of navigation bar styling */

/* CSS styling for the hero section */
.hero {
    display: flex;
    height: 100vh;
  }
  
  .rectangle {
    flex: 1;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .dark-blue {
    background: #2E2E45;
    position: relative;
  }
  
  .content {
    position: absolute;
    top: 252px;
    left: 40px;
    color: white;
    
  }
  
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 span.top {
    display: block;
  }
  
  h2 span.bottom {
    display: block;
  }
  
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  
  
  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 44px;
    margin-right: 300px;
    margin-left: 100px;
    
  }
  
  .browseopp-btn {
    background: #E34C45;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    
}

.joinus-btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background: #28A745;
}
  
  .browseopp-btn:hover {
    background-color: #45a049;
  }
  